SUPABASE_ACCESS_TOKEN=
SUPABASE_DB_PASSWORD=
SIDEQUEST_SUPABASE_ENVIRONMENT=
SIDEQUEST_SUPABASE_PROJECT_REF=
SIDEQUEST_SUPABASE_CONFIRM_PROJECT_REF=
SIDEQUEST_SUPABASE_EXPECTED_PROJECT_NAME=
SIDEQUEST_SUPABASE_ALLOW_MIGRATION_PUSH=
